body{
    padding: 10px;
    margin: 15px;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 25px;
}
.item {
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    width: 250px;
    text-align: center;
}
.item img {
    max-width: 100%;
    height: auto;
}
#searchInput {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
}
#searchButton {
    padding: 8px 16px;
}
.suggestion-item {
    padding : 4px 8px;
    background-color : #f0f0f0;
    border : 1px solid #ccc;
    cursor : pointer;
    width : 300px;
    height: 30px;
    align-content: center;

}
